@use "variables"
@use "mixins"
header 
    nav.uk-navbar-container:not(.uk-navbar-transparent)
        background-color: variables.$dark
        overflow: hidden
        .uk-navbar-center 
            overflow: hidden
            ul 
                align-items: center
                
                overflow-x: auto 
                li 
                    a 
                        color: variables.$light-pink
                        +mixins.lato-regular
                        min-height: 50px
                li.uk-active 
                    a 
                        color: variables.$light-green
                    